{{! 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}
<section>
  <div>
    <h1>{{name}}</h1>
  </div>
  <div>
    <b>{{description}}</b>
  </div>
</section>

<div>
  <ul>
    {{#with history}}
      <li>
        <span>
          Year of foundation:
          {{year}}
        </span>
      </li>

      <li>
        <span>
          Founder:
          {{founder}}
        </span>
      </li>
    {{/with}}
  </ul>
</div>

<br />
<hr />

<section>
  <div>
    <h2>Types:</h2>
  </div>

  <div>
    <ul>
      {{#each types}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
</section>

<br />

<section>
  <div>
    <h2>Types:</h2>
  </div>

  <div>
    {{#with syntax}}

      <div>
        <b>Variables:</b>
        {{#each variables}}
          <span>{{this}}</span>
        {{/each}}
      </div>

      <div>
        <b>Functions:</b>
        {{#each functions}}
          <span>{{this}}</span>
        {{/each}}
      </div>

      <div>
        <b>Conditionals:</b>
        {{#each conditionals}}
          <span>{{this}}</span>
        {{/each}}
      </div>

      <div>
        <b>Loops:</b>
        {{#each loops}}
          <span>{{this}}</span>
        {{/each}}
      </div>

      <div>
        <b>Classes:</b>
        {{#each classes}}
          <span>{{this}}</span>
        {{/each}}
      </div>

    {{/with}}
  </div>
</section>

<br />

<section>
  <div>
    <h2>Features:</h2>
  </div>

  <div>
    <ol>
      {{#each features}}
        <li>{{this}}</li>
      {{/each}}
    </ol>
  </div>
</section>

<section>
  <div>
    <h2>Libraries:</h2>
  </div>

  <div>
    <ul>
      {{#each libraries}}
        <li class='badge text-bg-primary'>{{this}}</li>
      {{/each}}
    </ul>
  </div>
</section>

<section>
  <div>
    <h2>Tools:</h2>
  </div>
  <div>
    <ul>
      <li class='badge text-bg-primary'>{{tools.[0]}}</li>
      <li class='badge text-bg-secondary'>{{tools.[1]}}</li>
      <li class='badge text-bg-success'>{{tools.[2]}}</li>
      <li class='badge text-bg-danger'>{{tools.[3]}}</li>
      <li class='badge text-bg-warning'>{{tools.[4]}}</li>
      <li class='badge text-bg-info'>{{tools.[5]}}</li>
      <li class='badge text-bg-light'>{{tools.[6]}}</li>
      <li class='badge text-bg-dark'>{{tools.[7]}}</li>

     </ul>
    </div>
  </section>

  <section>
    <div>
      <h2>Community:</h2>
    </div>
   <div>
      <ul>
        {{#each community}}
          <li>{{name}}-{{type}}</li>
        {{/each}}
      </ul>
  </div>
</section>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}