 <section>
        {{#with delivery}}
            <h3>{{title}}</h3>
            <div class="row">
                <div class="col-8">
                    <div class="card">
                        <div class="card-body">
                           {{#each select}}
                           <div class="row">
                               <div class="col-4">
                                    <div>
                                        <label class="form-label">{{label}}</label>
                                        <select class="form-select">
                                            {{#each options}}
                                            <option value={{value}}>{{text}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                               </div>
                               <div class="col-4">
                                    <div>
                                        <label class="form-label">{{label}}</label>
                                        <select class="form-select">
                                            {{#each options}}
                                            <option value={{value}}>{{text}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                               </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        {{/with}}
    </section>